
.container {
display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navItemsContainer {
    padding: 0;
    margin: 0;
}
.navItemsContainer a {
text-decoration: none;
    color: #5a5a5a;
    margin-right: 38px;
}